<style>
    .poster {
        max-height: 500px;
        border-radius: 10px;
    }

    .article h1,
    h2,
    h3,
    h4,
    p,
    ul,
    ol {
        margin: 0
    }

    
    .tag-container {
      display: flex;
      gap: 8px;
      flex-wrap: wrap;
      margin-bottom: 50px;
    }

    
    .tag {
      padding: 4px 12px;
      border-radius: 16px;
      font-size: 14px;
      display: flex;
      align-items: center;
      gap: 6px;
      color: white;
    }
</style>

<!-- HTML structure -->
<img class="poster" src="<%= data.poster %>" />

<div class="display:flex; flex-direction: column">
    <h1 style="margin: 0"><%= data.title %></h1>
    <div class="tag-container" id="selectedTags">
        <% data.tags.forEach(tag => { %>
        <span class="tag" style="background-color: <%= tag.color %>;"><%= tag.name %></span>
        <% }) %>
    </div>
</div>


<div class="article">
    <%= data.body %>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/11.0.0/markdown-it.min.js"
    integrity="sha256-3mv+NUxFuBg26MtcnuN2X37WUxuGunWCCiG2YCSBjNc=" crossorigin="anonymous"></script>

<script>
    // Initialize Markdown-it
    let mdit = new markdownit({
        breaks: true,
        quotes: '“”‘’'
    }).disable(['image'])

    // Select the article element
    let articleElement = document.getElementsByClassName('article')[0];

    console.log(articleElement.textContent.trim())

    // Parse Markdown from the article's content and render as HTML
    let parsedHtml = mdit.render(articleElement.textContent.trim());

    // Set the inner HTML of the article element to the parsed HTML
    articleElement.innerHTML = parsedHtml;
</script>